<div class="banner">
  <div class="banner-content">
    <h1 class="home-title">Planet Hunt</h1>
    <h4 class="home-tagline">Choose your dream destination!</h4>
    <br>
    <!-- ------------search----------------- -->
    <%= form_tag planets_path, method: :get, class: 'inline-form', id: 'search-form' do %>
      <%= select_tag(
            :query,
            options_for_select(Planet.pluck(:solar_system).uniq),
            class: "form-control", placeholder: "Find a Sunsystem", prompt: 'Choose a solar system'
      ) %>
      <%= submit_tag("Search", class: "btn full_btn  search_btn") %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if @planets.any? %>

      <% @planets.each do |planet| %>
        <%= link_to planet_path(planet) do %>
          <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= planet.photo %>);">
            <div class="card-description">
              <h2><%= planet.name %></h2>
              <p><%= planet.user.first_name %> <%= planet.user.last_name %></p>
            </div>
            <a class="card-link" href="<%= planet_path(planet.id) %>" ></a>
          </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No results for solar system <%= params[:query] %></p>
    <% end %>
  </div>
</div>

