<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.com/photos/zpUsOQzByFg/download?force=true'); background-position: 3px;">

<h1><strong> Name:  </strong><%= @planet.name %></h1>
<h3><strong> Description: </strong><%= @planet.description %></h3>
<h3><strong>Solar System:  </strong> <%= @planet.solar_system %></h3>
<h3><strong>Category: </strong> <%= @planet.category %></h3>
<h3><strong>Size: </strong> <%= @planet.size %></h3>
<h3><strong>Price: </strong> <%= @planet.price %> Mio $</h3>

<%#= link_to " ", _path %> <br>


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e"></th>
    <th class="tg-031e"></th>
    <th class="tg-031e"></th>
    <th class="tg-031e"></th>
    <th class="tg-031e"></th>
  </tr>

  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
    <td class="tg-031e"></td>
  </tr>
</table>
<span style='font-size:9px;'>Erstellt mit dem HTML Tabellen Generator von <a href='https://netgrade.de/'>netgrade</a></span>
