<strong><%= booking.user.last_name %></strong> Planet: <strong><%= booking.planet.name %></strong> from <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong></h4>
<p><strong>Message: </strong><er><%= booking.message %></er></p>
