<div class="wrapper">
  <div class="container">
    <div class="dashboard">
      <h1 style= "color: white;">My Dashboard</h1>
      <div class="dashboard-area">
      <!-- Show owner's planets -->
      <h3>My Planets:</h3>
      <div class="row">
        <% @my_planets.each do |planet| %>
          <%= link_to planet_path(planet) do %>
            <div class="col-xs-12 col-sm-4 col-lg-3">
            <div class="card" style="background-image: url( <%= planet.photo %>);">
            <span class="card-description"> <h2><%= planet.name %></h2></span>
            </div>
            </div>
        <% end %>
      <% end %>
      </div>
    </div>

   <!-- Booking requests (other users who want to rent your planet) -->
   <% if @my_bookings_as_owner.pendings.any? %>
   <div class="dashboard-area">
      <h3>Pending Booking Requests:</h3>
       <% @my_bookings_as_owner.pendings.each do |booking| %>
           <h4>User</h4> <strong><%= booking.user.last_name %></strong> Planet: <strong><%= booking.planet.name %></strong> from <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong></h4>
            <p><strong>Message: </strong><er><%= booking.message %></er></p>
           <%= link_to "Accept", accept_booking_path(booking), method: :put, class: "btn btn-success btn-xs" %>
           <%= link_to "Decline", decline_booking_path(booking), method: :put, class: "btn btn-danger btn-xs" %>
         <% end %>
         </div>
    <% end %>

    <% if @my_bookings_as_owner.accepted.any? %>
    <div class="dashboard-area">
     <h3>You accepted following requests:</h3>
     <% @my_bookings_as_owner.accepted.each do |booking| %>
       <h4 class="green"><strong><%= booking.user.last_name %></strong> has booked your planet <strong><%= booking.planet.name %></strong> from <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong></h4>
       <p>Message: <er><%= booking.message %></er></p>
     <% end %>
     </div>
    <% end %>

    <% if @my_bookings_as_owner.declined.any? %>
    <div class="dashboard-area">
      <h3>You declined following requests:</h3>
      <% @my_bookings_as_owner.declined.each do |booking| %>
        <h4 class="red">User <strong><%= booking.user.last_name %></strong> wants to rent your planet <strong><%= booking.planet.name %></strong> from <strong><%= booking.start_date %></strong> to <strong><%= booking.end_date %></strong></h4>
        <p>Message: <er><%= booking.message %></er></p>
      <% end %>
      </div>
    <% end %>

    <!-- Planets you want to rent from others: -->
    <% if @my_own_bookings.any? %>
    <div class="dashboard-area">
       <h3>Your own bookings:</h3>
        <% @my_own_bookings.each do |booking| %>
        <% if booking.status == "Accepted"  %>
          <h4>Planet: <%= booking.planet.name %>, Owner: <%= booking.planet.user.first_name %>, <%= booking.planet.user.last_name %>, <%= booking.status %>
            <%= link_to 'Post a review', new_booking_review_path(booking) %>
          </h4>
        <% elsif booking.status == "Pending" %>
          <h4>Planet: <%= booking.planet.name %>, Owner: <%= booking.planet.user.first_name %>, <%= booking.planet.user.last_name %>, <%= booking.status %></h4>
        <% elsif booking.status == "Declined" %>
          <h4>Planet: <%= booking.planet.name %>, Owner: <%= booking.planet.user.first_name %>, <%= booking.planet.user.last_name %>, <%= booking.status %></h4>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
