<%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>

<div class="flex-between">
  <%= link_to "Home", planets_path, class:"btn btn-primary btn-lg"%>
  <%= f.submit "add a review", class: "btn btn-primary" %>
</div>

<% end %>
